@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap");

.insp {
  position: fixed;
  top: 0;
  /* z-index: -1; */
  /* opacity: 0.4; */
}

* {
  --mood-angry: oklch(62.94% 0.279 30);
  /* --mood-angry: #ff0000; */
  --mood-content: oklch(92% 0.193 99.6);
  /* --mood-content: #ffd700; */
  --mood-crazy: oklch(70.29% 0.348 328.36);
  /* --mood-crazy: #800080; */
  --mood-happy: oklch(93.8% 0.23 121.45);
  /* --mood-happy: #bada55; */
  --mood-neutral: oklch(46.4% 0.047 243.53);
  /* --mood-neutral: #808080; */
  --mood-silly: oklch(68.24% 0.31 351.99);
  /* --mood-silly: #ff69b4; */
  --mood-worried: oklch(75.7% 0.204 58.28);
  /* --mood-worried: #ff8c00; */

  /* brand foundation */
  --brand-hue: 146;

  /* light */
  --text-color-primary-light: oklch(18% 1 var(--brand-hue));
  --text-color-base-light: oklch(10% 0.045 var(--brand-hue));
  --text-color-alt-light: oklch(22% 0.045 var(--brand-hue));
  --surface-1-light: oklch(98.5% 0 var(--brand-hue));
  --surface-2-light: oklch(94% 0 var(--brand-hue));
  --surface-3-light: oklch(89% 0 var(--brand-hue));
  --surface-4-light: oklch(83% 0 var(--brand-hue));
  --surface-shadow-light: oklch(75% 0.2 var(--brand-hue));

  /* dark */
  --text-color-primary-dark: oklch(97.5% 1 var(--brand-hue));
  --text-color-base-dark: oklch(97.5% 0.045 var(--brand-hue));
  --text-color-alt-dark: oklch(87.5% 0.045 var(--brand-hue));
  --surface-1-dark: oklch(10% 0.04 var(--brand-hue));
  --surface-2-dark: oklch(20% 0.01 var(--brand-hue));
  --surface-3-dark: oklch(30% 0 var(--brand-hue));
  --surface-4-dark: oklch(40% 0 var(--brand-hue));
  --surface-shadow-dark: oklch(28% 0.2 var(--brand-hue));

  --spacing-0: 0rlh;
  --spacing-1: 0.25rlh;
  --spacing-2: 0.5rlh;
  --spacing-3: 0.75rlh;
  --spacing-4: 1rlh;
  --spacing-5: 1.25rlh;
  --spacing-6: 1.5rlh;
  --spacing-7: 1.75rlh;
  --spacing-8: 2rlh;
  --spacing-9: 2.5rlh;

  --radius-1: 5px;
  --radius-2: 15px;
  --radius-3: 25px;
}

:root {
  color-scheme: light;

  /* set defaults */
  --text-color-primary: var(--text-color-primary-light);
  --text-color-base: var(--text-color-base-light);
  --text-color-alt: var(--text-color-alt-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="light"] {
  color-scheme: light;

  --text-color-primary: var(--text-color-primary-light);
  --text-color-base: var(--text-color-base-light);
  --text-color-alt: var(--text-color-alt-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --text-color-primary: var(--text-color-primary-dark);
    --text-color-base: var(--text-color-base-dark);
    --text-color-alt: var(--text-color-alt-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}

[color-scheme="dark"] {
  color-scheme: dark;

  --text-color-primary: var(--text-color-primary-dark);
  --text-color-base: var(--text-color-base-dark);
  --text-color-alt: var(--text-color-alt-dark);
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  background: var(--surface-1);
  color: var(--text-color-base);
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}

.app {
  display: grid;
  grid-template-columns: minmax(25ch, 35ch) 7fr;
  width: 100%;
  height: 100%;
}

.primary-header {
  padding: var(--spacing-8);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.primary-navigation {
  & ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
  }

  & li {
    padding: 0;
  }

  & a {
    padding: var(--spacing-4);
    font-size: 1rlh;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    transition: all 0.25s ease;
    color: var(--text-color-base);
    border-radius: var(--radius-3);

    &[aria-current="page"],
    &:focus,
    &:hover {
      background: var(--surface-3);
      color: var(--text-color-primary);
    }

    &:focus {
      outline: 1px solid var(--text-color-primary);
    }
  }
}

.main {
  --_gap: var(--spacing-6);
  background: var(--surface-3);
  padding: var(--spacing-8);
  border-radius: var(--radius-3) 0 0 var(--radius-3);
  margin: var(--_gap) 0;
  height: calc(100dvh - var(--_gap) * 2);
  overflow-x: auto;
}

.days {
  display: flex;
  overflow: auto;
  padding: var(--spacing-2);

  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

.day {
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-2);
  padding: 0;
  scale: 0.85;
  transition: all 0.15s ease;

  &:hover,
  &:focus,
  &.current {
    outline: none;
    scale: 0.9;

    .date {
      outline: 1px solid var(--text-color-primary);
    }
  }
}

.date {
  display: flex;
  flex-direction: column;
  background: var(--surface-2);
  color: var(--text-color-base);
  font-size: 1rlh;
  padding: var(--spacing-4);
  border-radius: var(--radius-2);
  box-shadow: var(--surface-shadow);
  opacity: 0.25;
  letter-spacing: 2px;

  font-weight: 200;

  & span:nth-child(2) {
    font-weight: 900;
  }

  .tracked & {
    border: 1px solid var(--text-color-primary);
    opacity: 1;
  }

  .current & {
    background: var(--text-color-primary);
    color: var(--surface-2);
    opacity: 1;
  }

  & span:nth-child(2) {
    font-size: 1.5rlh;
  }
}

.day-mood {
  display: flex;
  place-content: center;
}

/* Temp Theme Tests */
.surface-samples {
  display: grid;
  --size: 20ch;
  grid-template-columns: var(--size) var(--size);
  grid-auto-rows: var(--size);
  gap: 2ch;

  @media (width <= 480px) {
    & {
      --size: 40vw;
    }
  }

  & > * {
    border-radius: 1rem;
    display: grid;
    place-content: center;
    font-size: 3rem;
    font-weight: 200;
  }

  & > div {
    border: 1px solid hsl(var(--brand-hue) 10% 50% / 15%);
    box-shadow: var(--surface-shadow);
  }
}

.surface-1 {
  background-color: var(--surface-1);
  color: var(--text2);
}

.surface-2 {
  background-color: var(--surface-2);
  color: var(--text2);
}

.surface-3 {
  background-color: var(--surface-3);
  color: var(--text1);
}

.surface-4 {
  background-color: var(--surface-4);
  color: var(--text1);
}
