@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;800&family=Special+Elite");
@import "open-props/style";

/* Thinking about Theme Colors */
/* :root  {
  --shark: rgb(29, 30, 36);
  --eastern-blue: rgb(30, 150, 161);
  --lightning-yellow: rgb(253, 199, 20);
  --bright-turquoise: rgb(50, 245, 219);

  --baltic-sea: rgb(41, 37, 43);
  --tropical-blue: rgb(199, 228, 251);
  --roof-terracotta: rgb(166, 31, 29);
  --sea-blue: rgb(13, 191, 226);

  --primary-color: var(--shark);
  --text-color: var(--lightning-yellow);
} */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

/* Loading */
.loadingWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading {
  --size: 4vw;
  width: var(--size);
  height: var(--size);

  border: 8px solid rgba(0, 180, 240, 0.3);
  border-top-color: rgb(0, 180, 240);
  border-radius: 100%;
  rotate: -90deg;

  animation: rotate 1.5s infinite cubic-bezier(0.59, 1.31, 0.39, -0.68);
}
@keyframes rotate {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  to {
    transform: rotate(359deg) translate3d(0, 0, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Loading */

.month {
  display: grid;
  gap: 1rem;
  grid-template-columns: 25px 1fr 25px;
}

.currentMonth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentMonth span:nth-child(2) {
  font-weight: 800;
  font-size: 1.5rem;
}

.daysContainer {
  width: 100%;
}

.daysGrid {
  --daysOfMonth: 28;
  display: grid;
  grid-template-columns: repeat(var(--daysOfMonth), 75px);
  gap: 1rem;
  overflow-x: auto;

  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-padding: 2rem;
  padding: 1rem 0;
}

.day {
  border: 1px solid var(--dark-gray);
  padding: 15px;
  background: transparent;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.day:is(:hover, :active, :focus) {
  background: oklch(65.29% 0.148 226.59 / 0.5);
  scale: 1.2;
}

.day[aria-selected="true"] {
  background: oklch(65.29% 0.148 226.59);
  scale: 1.2;
}

.dayOfWeek {
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
}

.dayNumber {
  font-size: 1.5rem;
  font-weight: 800;
}
