@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Work+Sans:wght@100;400;800');

:root {
	/* Colors */
	--midnight-moss: #050505;
	--arctic-pearl: #f0ffff;
	--indigo-night: #00566b;
	--olive-leaf: #00ff3b;
	--dusty-rose: #bb5ea7;
	--crimson-fire: #ab0034;

	/* Intentions */
	--color-background: var(--midnight-moss);
	--color-text: var(--arctic-pearl);
	--primary: var(--olive-leaf);
	--secondary: var(--dusty-rose);

	--button-bg: var(--primary);
	--button-text: var(--midnight-moss);

	/* Styles */
	--line: solid 1px var(--lineColor);

	/* Type */
	--heading-font: 'Work Sans', sans-serif;
	--body-font: 'Lato', monospace;
	--h1: 3.052em;
	--h2: 2.441em;
	--h3: 1.953em;
	--h4: 1.563em;
	--h5: 1.25em;
	--small-text: 0.8em;
	/* font weights */
	--thin: 100;
	--regular: 400;
	--bold: 700;

	/* Elevation */
	--level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

	/* Positioning */
	--container-padding: 2.5%;
	--header-height: 3rem;
	--border-radius: 4px;
}

/* Using the base color */
body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--body-font);
	font-weight: var(--regular);
	font-size: var(--small-text);
	line-height: 1.5;
	margin: 0;
}

/* heading styles using where selector */
:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--heading-font);
	margin: 0;
	font-weight: var(--regular);
}

/* heading styles for page heading */
.heading-xl {
	font-size: var(--h1);
	color: var(--primary);
}
/* style all headings */
.subheading-lg {
	font-size: var(--h4);
}

/* button and button class that resets and uses variable */
button,
.button {
	background-color: var(--button-bg);
	color: var(--button-text);
	border: none;
	border-radius: var(--border-radius);
	padding: 0.5rem 1rem;
	font-size: var(--smallText);
	cursor: pointer;
	transition: all 0.12s ease-in-out;
	border: 1px solid transparent;

	/* hover state */
	&:hover {
		background-color: var(--background-color);
		color: var(--button-bg);
		border-color: var(--button-bg);
	}

	/* disable state */
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;

		/* unset hover */
		&:hover {
			background-color: var(--button-bg);
			color: var(--button-text);
			border-color: transparent;
		}
	}
}

/* anchor tag styles */
a {
	color: var(--primary);
	text-decoration: none;
	transition: all 0.12s ease-in-out;

	/* hover state */
	&:hover {
		color: var(--secondary);
	}
}

#app {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 25dvw 75dvw;
	height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
